body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 80%;       /* L'image prend 80% de la largeur de son container */
    max-width: 400px; /* Maximum 400px */
    height: auto;     /* garde les proportions */
    display: block;
    margin: 0 auto;   /* centre l'image horizontalement */
    border-radius: 15px; /* optionnel : coins arrondis */
}
